:css
  / body {background:url(http://wisr.com/assets/bg_images/bg-quizmechem.jpg); background-size: cover;}

.audit

  .row
    .span3.offset7
      .well.stat
        .grade= "#{sprintf("%.f", @grade[:percentage] * 100) if @grade[:percentage]}%"
        .ci_wrapper
          (+/- 
          %span.ci= sprintf("%.f", @grade[:ci] * 100) if @grade[:ci]
          )
        .reset= link_to "reset", "/handles/#{@handle.id}/reaudit"

  = render "handles/progress", active: 2

  .fadeable

    .row
      .span6.offset3.question-container

    #conversation_template{:style => "display:none;"}
      .conversation
        .post.parent
          .content
            %img.rounded{:src => "http://a0.twimg.com/profile_images/2604159789/4s3rcky8vlxeqr9lwo8c_normal.jpeg"}
              %h5 QuizMeNow
              %p.question
          .answers.rounded.border.ui-accordion.ui-widget.ui-helper-reset

    #answer_template{:style => "display:none;"}
      %h3.bottom_border

    %br
    .row
      .span6.offset3
        .well.scorecard
    
          .btn-group{:style => "float:right; position:relative; top:-5px;"}
            %button.btn#next
              Next&nbsp;
              %i.icon-chevron-right
            %button.btn#skip
              Skip
              %i.icon-share-alt

          - scorecard = Scorecard.new
          = form_for(scorecard) do |f|
            .field
              = f.check_box :awk
              = f.label :awk
            .field
              = f.check_box :length
              = f.label :length
            .field
              = f.check_box :error
              = f.label :error
            .field
              = f.check_box :inapp
              = f.label :inapp
            .field
              = f.check_box :level
              = f.label :level
            .hide{:style => "display:hidden;"}
              = f.text_field :card_id
              = f.text_field :handle_id

.question-data{:style => "display:none;"}= @questions.to_json