- model_class = Group
%ul.breadcrumb
  %li
    = link_to @group.deck.handle.name, edit_handle_path(@group.deck.handle)
    %span.divider /
  %li
    = link_to @group.deck.title, edit_deck_path(@group.deck)
    %span.divider /
  %li.active
    %i.icon-edit
    = best_in_place @group, :name

= render :partial => 'form'

%br
%br

= render 'handles/tables'