
- model_class = Handle
/ .page-header
/   %h1= t '.title', :default => model_class.model_name.human.pluralize

.hero-unit
  %h1 Handle management
  %br
  %p Edit, audit, destroy handles here. Or, create a new one:
  = link_to "Create a new handle", new_handle_path, :class => 'btn btn-primary btn-large'

%table.table.table-striped
  %thead
    %tr
      %th 
      %th= model_class.human_attribute_name(:name)
      %th Count
      %th Grade
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - question_count = {:published => 0, :total => 0}
    - percentages = []
    - cis = []

    / hack grades for non seeder handles
    %tr
      %td 1 
      %td QuizMeBio
      %td 
        - count = 500
        - question_count[:published] += count
        - question_count[:total] += count
        = count
      %td 
        - percentage = 0.99
        - ci = 0.03
        - percentages << percentage
        - cis << ci
        = sprintf("%.f", percentage * 100)
        = " (+/- #{sprintf "%.f", ci * 100})"
      %td
    %tr
      %td 2
      %td QuizMeChem
      %td 
        - count = 400
        - question_count[:published] += count
        - question_count[:total] += count
        = count
      %td 
        - percentage = 0.97
        - ci = 0.05
        - percentages << percentage
        - cis << ci
        = sprintf("%.f", percentage * 100)
        = " (+/- #{sprintf "%.f", ci * 100})"
      %td
    %tr
      %td 3
      %td QuizMeWeather
      %td 
        - count = 50
        - question_count[:published] += count
        - question_count[:total] += count
        = count
      %td 
        - percentage = 0.99
        - ci = 0.02
        - percentages << percentage
        - cis << ci
        = sprintf("%.f", percentage * 100)
        = " (+/- #{sprintf "%.f", ci * 100})"
      %td
    %tr
      %td 4
      %td Govt101
      %td 
        - count = 450
        - question_count[:published] += count
        - question_count[:total] += count
        = count
      %td 
        - percentage = 0.99
        - ci = 0.02
        - percentages << percentage
        - cis << ci
        = sprintf("%.f", percentage * 100)
        = " (+/- #{sprintf "%.f", ci * 100})"
      %td
    %tr
      %td 5
      %td QuizMeBeer
      %td 
        - count = 100
        - question_count[:published] += count
        - question_count[:total] += count
        = count
      %td 
        - percentage = 0.95
        - ci = 0.05
        - percentages << percentage
        - cis << ci
        = sprintf("%.f", percentage * 100)
        = " (+/- #{sprintf "%.f", ci * 100})"
      %td
    %tr
      %td 6
      %td QuizMeCycling
      %td 
        - count = 100
        - question_count[:published] += count
        - question_count[:total] += count
        = count
      %td 
        - percentage = 0.95
        - ci = 0.05
        - percentages << percentage
        - cis << ci
        = sprintf("%.f", percentage * 100)
        = " (+/- #{sprintf "%.f", ci * 100})"
      %td

    - i = 6
    - @handles.each do |handle|
      - published_count = handle.decks.map{|d| d.cards}.flatten.select{|c| c.publish == true}.count
      - total = handle.decks.map{|d| d.cards}.flatten.count
      - question_count[:published] += published_count
      - question_count[:total] += total
      
      %tr
        %td
          - if handle.published
            - i += 1
            = i
        %td= link_to handle.name, edit_handle_path(handle)
        %td
          = published_count
          \/
          = total
        %td
          - if handle.published
            - percentages << @grades[handle.id][:percentage] if @grades[handle.id][:percentage]
            - cis << @grades[handle.id][:ci] if @grades[handle.id][:ci]
            = sprintf("%.f", @grades[handle.id][:percentage] * 100) if @grades[handle.id][:percentage]
            = " (+/- #{sprintf "%.f", @grades[handle.id][:ci] * 100})" if @grades[handle.id][:ci]
        %td
          = link_to "Export", "/handles/#{handle.id}/export.json"
          &nbsp;|&nbsp;
          = link_to t('.destroy', :default => t("helpers.links.destroy")),                                 
            handle_path(handle),                                                                           
            :method => :delete,                                                                            
            :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))
          &nbsp;|&nbsp;
          = link_to "Audit", "/handles/#{handle.id}/audit"
          &nbsp;|&nbsp;
          %a{:style => 'cursor:pointer;'}= best_in_place handle, :published, :type => :checkbox, :collection => ["Publish", "Unpublish"]
    %tr.well
      %td
      %td
      %td
        %strong= "#{question_count[:published]}/#{question_count[:total]}"
      %td
        %strong
          - if cis.count > 0
            = "#{sprintf("%.f", percentages.sum/percentages.count * 100)}% (+/- #{sprintf("%.f", cis.sum/cis.count * 100)})"
      %td