- model_class = Handle
%ul.breadcrumb
  %li.active= @handle.name

.form-actions
  .btn-group
    = link_to "Add deck", "/decks/new/#{@handle.id}", :class => 'btn'
    = link_to t('.edit', :default => t("helpers.links.edit")),
      edit_handle_path(@handle), :class => 'btn'              
    = link_to t('.destroy', :default => t("helpers.links.destroy")),                                 
      handle_path(@handle),                                                                          
      :method => 'delete',                                                                           
      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
      :class => 'btn btn-danger' 

%br
%br

.tabbable
  / Only required for left/right tabs
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab1"} Decks
    %li
      %a{"data-toggle" => "tab", :href => "#tab2"} Cards
    %li
      %a{"data-toggle" => "tab", :href => "#tab3"} Questions
    %li
      %a{"data-toggle" => "tab", :href => "#tab4"} Groups

  .tab-content
    #tab1.tab-pane.active
      / %h3 Listing cards
      %table.table
        %tr
          %th Id
          %th Quizlet id
          %th Title
          %th
          %th
          %th
        - @handle.decks.each do |deck|
          %tr
            %td= deck.id
            %td= deck.quizlet_id
            %td= link_to deck.title, deck_path(deck)
            %td= link_to 'Show', deck
            %td= link_to 'Edit', edit_deck_path(deck)
            %td= link_to 'Destroy', deck, confirm: 'Are you sure?', method: :delete

    #tab2.tab-pane
      / %h3 Listing cards
      %table.table
        %tr
          %th Front
          %th Back
          %th
          %th
          %th
        - @handle.decks.each do |deck|
          - deck.cards.each do |card|
            %tr
              %td= card.front
              %td= card.back
              %td= link_to 'Show', card
              %td= link_to 'Edit', edit_card_path(card)
              %td= link_to 'Destroy', card, confirm: 'Are you sure?', method: :delete

    #tab3.tab-pane
      / %h3 Listing Questions
      %table.table
        %tr
          %th Question
          %th Answer
          %th False Answer 1
          %th False Answer 2
          %th False Answer 3
        - @handle.decks.each do |deck|
          - deck.groups.each do |group|
            - group.cards.each do |card|
              - next if group.question_format.nil? or group.answer_format.nil?
              %tr
                %td= group.question_format.gsub('#{front}', card.front).gsub('#{back}', card.back)
                %td= group.answer_format.gsub('#{front}', card.front).gsub('#{back}', card.back)
                - i = 0
                - group.cards.shuffle.each do |other_card|
                  - next if other_card.id == card.id
                  - i += 1
                  %td= group.answer_format.gsub('#{front}', other_card.front).gsub('#{back}', other_card.back)
                  - break if i == 3

    #tab4.tab-pane
      / %h3 Listing cards
      %table.table
        %tr
          %th Name
          %th Question format
          %th Answer format
          %th
          %th
          %th
        - @handle.decks.each do |deck|
          - deck.groups.each do |group|
            %tr
              %td= group.name
              %td= group.question_format
              %td= group.answer_format
              %td= link_to 'Show', group
              %td= link_to 'Edit', edit_group_path(group)
              %td= link_to 'Destroy', group, confirm: 'Are you sure?', method: :delete