- model_class = Deck
%ul.breadcrumb
  %li
    = link_to @deck.handle.name, handle_path(@deck.handle)
    %span.divider /
  %li.active= @deck.title

%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:quizlet_id)
  %dd= @deck.quizlet_id

.form-actions
  .btn-group
    = link_to t('.back', :default => t("helpers.links.back")),
      decks_path, :class => 'btn'                             
    
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_deck_path(@deck), :class => 'btn'                  
    
    = link_to t('.refresh'), "#{@deck.id}/refresh", :class => 'btn'

    = link_to t('.destroy', :default => t("helpers.links.destroy")),                                 
      deck_path(@deck),                                                                              
      :method => 'delete',                                                                           
      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
      :class => 'btn btn-danger'                                                                     

%br
%br

.tabbable
  / Only required for left/right tabs
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab1"} Cards
    %li
      %a{"data-toggle" => "tab", :href => "#tab2"} Questions
    %li
      %a{"data-toggle" => "tab", :href => "#tab3"} Groups
  .tab-content

    #tab1.tab-pane.active
      / %h3 Listing cards
      %table.table
        %tr
          %th Front
          %th Back
          %th
          %th
          %th
        - @deck.cards.each do |card|
          %tr
            %td= best_in_place card, :front
            %td= best_in_place card, :back, :type => 'textarea'
            %td= link_to 'Show', card
            %td= link_to 'Edit', edit_card_path(card)
            %td= link_to 'Destroy', card, confirm: 'Are you sure?', method: :delete

    #tab2.tab-pane
      / %h3 Listing Questions
      %table.table
        %tr
          %th Question
          %th Answer
          %th False Answer 1
          %th False Answer 2
          %th False Answer 3
        - @deck.groups.each do |group|
          - group.cards.each do |card|
            - next if group.question_format.nil? or group.answer_format.nil?
            %tr
              %td= group.question_format.gsub('#{front}', card.front).gsub('#{back}', card.back)
              %td= group.answer_format.gsub('#{front}', card.front).gsub('#{back}', card.back)
              - i = 0
              - group.cards.shuffle.each do |other_card|
                - next if other_card.id == card.id
                - i += 1
                %td= group.answer_format.gsub('#{front}', other_card.front).gsub('#{back}', other_card.back)
                - break if i == 3

    #tab3.tab-pane
      / %h3 Listing cards
      %table.table
        %tr
          %th Question format
          %th Answer format
          %th
          %th
          %th
        - @deck.groups.each do |group|
          %tr
            %td= group.question_format
            %td= group.answer_format
            %td= link_to 'Show', group
            %td= link_to 'Edit', edit_group_path(group)
            %td= link_to 'Destroy', group, confirm: 'Are you sure?', method: :delete
  