= render "handles/progress", active: 1

- model_class = Deck

.row
  .span5.offset1

  .span6.list{:group_id => "-1"}
    %h3 
      %span
        / %i.icon-arrow-left
        Ungrouped Cards
      %span.count
    .drag_cont.span4
    %ul.selectable
      - @cards.each do |card|
        %li.card{:card_id => card.id}
          %i.icon-move
          = "#{card.front} | #{card.back}"
  - k = 0
  - @groups.each do |i, cards|
    - k += 1
    - group = Group.find i
    .span6.list{:group_id => i, :class => ("active" if k == 1)}
      %h3
        %span
          = best_in_place group, :name, :activator => ".list[group_id=#{i}] .rename", :nil => "Untitled"
        .btn-toolbar
          .btn-group
            %a.btn.btn-small.rename Rename               
            %a.btn.btn-small{'data-confirm' => "Are you sure?", 'data-method'=>"delete", 'rel'=>"nofollow"}
              %i.icon-remove
        %span.count= "(#{group.cards.count})"
        .formats
          .bip_wrapper
            %i.icon-edit
            = best_in_place group, :question_format, nil: 'question_format'
          .bip_wrapper
            %i.icon-edit
            = best_in_place group, :answer_format, nil: 'answer_format'

      %ul.selectable
        - cards.each do |card|
          %li.card{:card_id => card.id}
            .text
              %i.icon-move
              = "#{card.front} | #{card.back}"
            .preview
              %span.question= card.question_formatted
              | 
              %span.answer= card.answer_formatted
      .drag_cont.span4

  .span6.list.new
    %h3
      %span
        %span New Group
      %span.count
      .btn-toolbar
      /   .btn-group
      /     %a.btn.btn-small.rename Rename               
      /     %a.btn.btn-small{'data-confirm' => "Are you sure?", 'data-method'=>"delete", 'rel'=>"nofollow"}
      /       %i.icon-remove
      .formats
        .bip_wrapper
          %i.icon-edit
          %span.best_in_place.question_format{'data-object'=> 'group', 'data-attribute'=> 'question_format', 'data-nil'=> 'question_format', 'data-type'=> 'input'}
          / = best_in_place group, =>question_format, nil=> 'question_format'
        .bip_wrapper
          %i.icon-edit
          %span.best_in_place.answer_format{'data-object'=> 'group', 'data-attribute'=> 'answer_format', 'data-nil'=> 'answer_format', 'data-type'=> 'input'}
          / = best_in_place group, :answer_format, nil: 'answer_format'

    .drag_cont.span4
    %ul.selectable

  .btn-wrapper.span6.list= link_to "Last step: Audit", "/handles/#{@handle.id}/audit", :class => 'btn btn-large btn-primary'
    
  #sample_list{:style => 'display:none;'}
    .span6.list
      %h3
        %span
          %span New Group

      .drag_cont.span4
      %ul.selectable

  #sample_toolbar{:style => 'display:none;'}
    .btn-toolbar
      .btn-group
        %a.btn.btn-small.rename Rename               
        %a.btn.btn-small{'data-confirm' => "Are you sure?", 'data-method'=>"delete", 'rel'=>"nofollow"}
          %i.icon-remove
%br
%br
