!!!
%html
  %head
    %title Quizlet
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        %a.brand{:href => "/handles"} Seeder

        - if user_signed_in?
          / %ul.nav
          /   %li.active
          /     %a{:href => "/handles"} Show Handles
          /   %li
          /     %a{:href => "/cards/audit"} Audit Quality

          %ul.nav{:style => "float:right;"}
            %li
              = link_to 'Sign out', destroy_user_session_path, :method => :delete

    .container


      = yield